.container {
  margin: 10px;
  height: 100px;
  width: 80%;
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  perspective: 1000px;
}

.container:hover {
  transform: scale(1.05);
}

.content {
  position: relative;
  flex: 1;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.content.isRevealed {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.isDisabled {
  pointer-events: none;
}

.isDimmed {
  opacity: 0.4;
}

.correct {
  background-color: #2baa6d;
  padding: 8px 8px;
}

.incorrect {
  background-color: #e44a4c;
}

.correct .value,
.incorrect .value {
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
}

.front {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
}

.letter,
.text {
  font-size: 1.5rem;
  font-weight: 600;
}

.letter {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 8px;
}

.text {
  color: #333333;
}
