.container {
  padding: 0 2rem;
  display: flex;
  height: 100vh;
  flex-grow: 1;
  background: #ddd2bd;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
